@media only screen 
and (min-width: 0px)
and (max-width: 999px) {
  .button_github {
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 4em auto 0 auto;
    width: 50%;
    font-size: 12px;
      animation-duration: 1.5s; 
      animation-delay: .5s;
      white-space: wrap;
      text-align: center;
  }

  .changingwords strong > b {
    font-size: 1.75rem;
}

.changingwords {
  height: 75px;
}

.website_name {
  padding: 0 !important;
}

.first_letter_navbar {
  font-size: 2.25rem;
}

  p {
    font-size:16px;
    font-family:'Raleway', serif;
  }

  header > p {
    font-size: 1.25rem;
    max-width: 760px;
    width: 75%;
  }

  .arrows {
	width: 84px;
	height: 96px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 0;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 2px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.width__container__info {
      margin-top: 40vh;
    }

    .width__container {
        max-width: calc(100% - 16px);
    }

    table {
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 0px;
        max-width: 720px;
        margin: 0 auto;
      }
      
      
      table th,
      table td {
          padding: 18px 20px;
      }

      .code_pre {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: baseline;
      }

      figure {
        max-width: 100%;
        margin: 0;
    }

    figure:hover figcaption::before {
        font-size: 1rem;
      }
    
      figure:hover figcaption::after{
        font-size: 1rem;
    }

    .width__container__info--wrapper > div h3 {
        font-size: 1rem;
      }

      .width__container__info > h2 {
        font-size: 1.25rem;
      }

      .svg {
        width: 35%;
      }

   label.switch {
            display: none;
            margin: 0 auto;
        }
  
        nav#navbar {
          overflow: hidden;
          position: fixed;
          flex-direction: column;
          align-items: flex-start;
          padding-bottom: 1em;
          margin: 0;
        }
  
        #navbar_sirka {   
            flex-direction: column;
      }
        
        #navbar .navbar-menu {
          display: none;
          padding-left: 0;
        }
  
        .navbar-menu > li {
            padding-left: 0;
        }
  
        #navbar_sirka li:not(:last-child) {
          margin-right: 0px;
        }
        
        #navbar a.icon {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          color: black;
          margin-right: 8px;
        }

        nav#navbar a {
            color: black;
            padding: 15px 17px;
            text-decoration: none;
            font-size: 18px;
            display: block;
          }

          .dark-mode  .navbar-menu__link
          {
            color: #fff !important;
          }

          .typewrite {
            font-size: 1.25rem;
          }

          html {
            scroll-padding-top: 51px;
            scroll-behavior: smooth;
          }

          section h2 {
            padding-top: 7em;
            font-size: 1.5rem;
            text-align: center;
        }

        .image--flex {
          flex-direction: column;
        }

        .image--flex__div {
          margin-top: 3em;
        }

        .white-block {
          width: 80%;
          padding: 3% 10% 5% 10%;
        }

        .colour-block {
          padding: 3% 10% 5% 10%;
          width: 80%;
        }


      blockquote {
        margin: 0 auto;
      }

      .logo {
        width: 60px;
      }

      .sv {
        position: absolute;
        top: 0;
        bottom: 0;
right: 0;
margin-right: 1em;
margin-top: 1.5em;
      }
}

@media only screen 
and (min-width: 0px)
and (max-width: 400px) {
  pre {
    font-size: 11px;
  }

  .white-block {
    width: 90%;
    padding: 3% 5% 5% 5%;
  }

  .colour-block {
    width: 90%;
    padding: 3% 5% 5% 5%;
  }

  table th,
  table td {
      padding: 2px 5px;
      margin-left: -2em;
  }

  .code_pre--tags {
    padding: 0.1em;
  }

  table {
    margin-left: -1.3em;
    max-width: 250px;
  }

  .logo {
    width: 40px;
  }
}

@media only screen 
and (min-width: 720px)
and (max-width: 999px) {
    table {
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 0px;
        max-width: 999px;
        margin: 0 auto;
      }
      
      
      table th,
      table td {
          padding: 18px 40px;
      }

      .width__container {
        max-width: calc(100% - 32px);
    }

    figure {
        max-width: 80%;
        margin: 0 auto;
    }
    
    figure:hover figcaption::before {
        font-size: 1.1rem;
      }
    
      figure:hover figcaption::after{
        font-size: 1.1rem;
    }

    .arrows {
      bottom: 0;
    }

    section h2 {
      padding-top: 7em;
      font-size: 1.75rem;
      text-align: center;
  }

    }

    @media only screen 
    and (min-width: 1000px)
    and (max-width: 1700px) {

    .button_github {
        padding: 1rem 2rem;
        border-radius: 20px;
        margin: 5em auto 0 auto;
        width: 30%;
        font-size: 14px;
          animation-duration: 1.5s; 
          animation-delay: .5s;
          white-space: wrap;
          text-align: center;
      }

      .changingwords strong > b {
        font-size: 3rem;
    }

      .width__container__info {
        margin-top: 40vh;
      }

      .width__container {
        max-width: calc(100% - 48px);
    }

    #navbar_sirka {
        font-size: 16px;
    }

    html {
        scroll-padding-top: 72px;
      }

      figure {
        margin-left: 0;
      }

    }

    .sv {
margin-top: 2em;
    }

    @media only screen 
    and (min-width: 2160px) {
      .width__container__info {
        margin-top: 50vh;
      }

      .switch {
        margin-right: 2em;
        margin-left: auto;
      }

      table th,
      table td {
          padding: 30px 90px;
      }

      .width__container {
        max-width: 2500px;
      }

      figure {
        margin-left: 0em;
        max-width: 50%;
      }

      header {
        margin-top: 30em;
      }

      .image--flex {
        justify-content: space-evenly;
      }

      .sv {
        margin-top: 2em;
    }
  }