html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 82px;
  }
  
  .width__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  body {
    margin: 0;
  }

  .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .switch {
      display: inline-block;
      width: 62px;
      height: 34px;
      position: relative;
    }
  
  .slider {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #b1bcca;
      border-radius: 40px;
      cursor: pointer;
    }

    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 28px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #21292e;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 2px #7bbdf3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  
    .switch {
      margin-right: .5em;
  }
  
  /* SLIDER*/
  
  #navbar {
      padding: .4em 0;
      background-color: white;
      position: fixed;
      width: 100%;
      display: flex;
      align-items: center;
      top: 0;
      z-index: 3;
      margin: 0;
      padding: 10px 5px; /* Large padding which will shrink on scroll (using JS) */
      transition: 0.4s;
  }
  
  #navbar_sirka {
      display: flex;
      align-items: center;
      max-width: 1800px;
      width: 100%;
      justify-content: space-around;
  }


  
  ul.navbar-menu:hover li{
    opacity:0.5;
    transition: all .35s ease-in-out;
  }
  
 ul.navbar-menu li:hover{
    opacity:1;
    transition: all .35s ease-in-out;
  }
  
  .navbar-menu > li{
      text-transform: uppercase;
  }
  
  #navbar_sirka ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
    }
    
    #navbar_sirka li:not(:last-child) {
      margin-right: 20px;
    }
    
    #navbar_sirka a {
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      padding: 7px 15px;
    }

    #navbar_sirka {
      font-size: 19px;
    }

    .navbar-menu__link--override {
      color: white;
    }

    .navbar-menu__link {
      color: black;
      text-transform: uppercase;
    }
  
    .dark-mode {
        background-color: rgb(49, 47, 47);
        color: white;
      }

      .dark-mode #navbar{
        background-color: rgb(49, 47, 47);
        color: white;
      }

      .dark-mode  .navbar-menu__link
      {
        color: #fff;
      }

      .dark-mode .styled-table tbody tr:nth-of-type(even) {
        background-color: #797878;
      }

      .dark-mode .styled-table tbody tr {
        border-bottom: thin solid #818080;
      }

      .dark-mode .styled-table {
        box-shadow: 0 0 20px rgba(189, 189, 189, 0.15);
      }


      #navbar.sticky, .dark-mode #navbar.sticky
      {
       background-color: rgb(55, 104, 71); 
      }
      #navbar.sticky  .navbar-menu__link
      {
        color: #fff;
      }

h1 {
    margin-top: 3em;
}

section h2 {
    padding-top: 3.5em;
}

.header__tag {
  font-weight: bold;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.header--1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.header--2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.header--3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header--4 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.header--5 {
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

.header--6 {
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

.code_pre {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.code_pre--tags {
  background-color: rgb(189, 186, 186);
  width:fit-content;
  padding: 1em;
  height: 100%;
}

.code_pre--border {
  padding-left: 1em;
  border-left: .5px solid black;
}

.hastag {
  color: rgb(153, 152, 152);
  padding-left: .5em;
}



.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 18px 60px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.width__container__info > h2 {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1.5em;
  font-size: 1.75rem;
}

.width__container__info {
  background-image: linear-gradient(-45deg, #f7bb61 0, #ab1b46 100%);
  box-shadow: 0 3px 13px 0 rgba(14, 9, 73, 0.2),
  0 11px 21px 0 rgba(255, 166, 220, 0.004);
    margin-top: 21%;
    color: white;
  }

.width__container__info--wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 3em;
}

header > p {
  font-size: 1.5rem;
  max-width: 760px;
  margin: 15em auto 0 auto;
  text-align: center;
}

.button {
  text-align: center;
  cursor: pointer;
  padding: 1rem 3rem;
  display: block;
  border-radius: 20px;
  margin: 6em auto 0 auto;
  width: 10%;
  text-decoration: none;
  font-family: system-ui;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff !important;
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 2px 10px 0 rgba(185, 10, 229, 0.75);
    animation-duration: 1.5s; 
    animation-delay: .5s;
    white-space: nowrap;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
}

.bounce { 
  -webkit-animation-name: bounce; 
  animation-name: bounce; 
}



.svg {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(175deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.pic_animation {
  animation-duration: 1.5s;
  animation-delay: .5s;
}

@keyframes pic_animation { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
}

.pic_animation { 
  -webkit-animation-name: bounce; 
  animation-name: bounce; 
}

.width__container__info--wrapper > div h3 {
  text-align: center;
}


.width__container__info--wrapper > div {
  width: 25%;
}

.arrows {
	width: 84px;
	height: 96px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 2px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow 
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; 
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; 
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; 
}

.icon {
  display: none;
}

.type {
  color:#0000;
  background:
    linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
    linear-gradient(#00DFFC 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
   b .7s infinite steps(1),   
   t calc(var(--n)*.3s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}