h1 {
    font-size: 2.4rem;
    line-height: 3rem;
}

blockquote {
    background-color: rgba(199, 199, 199, 0.719);
    padding: 1em;
    max-width: 70%;
}

q {
    padding-left: 2em;
}

.scaled_image {
    max-width: 40%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.scaled_image:hover .responsiveimg_scale{
    transform: scale(1.05);
    transition: transform .25s ease-in-out;
    overflow: hidden;
}

.responsiveimg_scale{
    transform: scale(1);
    transition: transform .25s ease-in-out;
    vertical-align: middle;
}

.responsiveimg_scale{
    width: 100%;
}

  .scaled_image:hover figcaption::before {
    content: "Image 1";
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    font-size: 1.2rem;
    right: 0;
    padding: 5rem 1rem 1rem;
    visibility: visible;
    background: linear-gradient(to top, hsla(230, 40%, 5%, 0.95), hsla(230, 40%, 5%, 0));
  }

  .scaled_image:hover figcaption::after{
    content: "Author: Jessie Brown";
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 1.2rem;
    right: 0;
    padding: 5rem 1rem 1rem;
}

figcaption {
    padding-left: 1em;
}

.author_image {
    float: right;
    padding-right: 1em;
}

.alert {
    display: flex;
    max-width: 40%;
    margin-bottom: .5em;
}

.alert--high {
    background-color: rgb(13, 138, 40);
    color: white;
}

.alert--middle {
    background-color: rgb(13, 42, 138);
    color: white;
}

.alert__close {
    padding: 0 1em;
    margin: auto 0;
}