h1 {
    font-size: 2.4rem;
    line-height: 3rem;
}

     /*<------------- Scaling image ------------>*/

.scaled_image {
    max-width: 60%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.scaled_image:hover .responsiveimg_scale{
    transform: scale(1.05);
    transition: transform .25s ease-in-out;
    overflow: hidden;
}

.responsiveimg_scale{
    transform: scale(1);
    transition: transform .25s ease-in-out;
    vertical-align: middle;
}

.responsiveimg_scale{
    width: 100%;
}

  .scaled_image:hover figcaption::before {
    content: "Image 1";
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    font-size: 1.2rem;
    right: 0;
    padding: 5rem 1rem 1rem;
    visibility: visible;
    background: linear-gradient(to top, hsla(230, 40%, 5%, 0.95), hsla(230, 40%, 5%, 0));
  }

  .scaled_image:hover figcaption::after{
    content: "Author: Jessie Brown";
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 1.2rem;
    right: 0;
    padding: 5rem 1rem 1rem;
}

figcaption {
    padding-left: 1em;
}

     /*<------------- Alert buttons ------------>*/

.alert {
    display: flex;
    margin-bottom: .5em;
}

.alert--high {
    background-color: rgb(13, 138, 40);
    color: white;
}

.alert--middle {
    background-color: rgb(13, 42, 138);
    color: white;
}

.alert__close {
    padding: 0 1em;
    margin: auto 0;
    cursor: pointer;
}

     /*<------------- Blockquote and q ------------>*/

  blockquote p::before {
    content: open-quote;
}

blockquote p::after {
    content: close-quote;
}

blockquote {
    margin: 0;
    border-left: 0.3rem solid #d1d1d1;
    padding: 0 0 0 1em;
    font-style: italic;
}

blockquote p {
    padding: 15px;
    background: var(--dark-grey);
    border-radius: 5px;
    align-self: center;
}

figure {
    margin: 1em 0;
}

figcaption {
    font-style: normal;
}

figcaption .author {
    font-style: italic;
    font-weight: 500;
}

figcaption .author::before,
figcaption .author::after {
    content: '\2014';
    margin-right: .5em;
    display: inline;
    font-weight: normal;
}

figcaption .author::after {
    content: '\2014';
    margin-left: .5em;
}

q {
    font-style: italic;
    display: inline;
    padding-left: .5em;
}

.q_before {
    font-style: normal;
}

     /*<------------- Table ------------>*/

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  table th,
  table td {
      padding: 18px 60px;
  }
  
  table tbody tr {
    border-bottom: thin solid #dddddd;
    background-color: #d6bdbd;
  }
  
  table tbody tr:nth-of-type(even) {
    background-color: #cf882c;
  }
  
  table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

       /*<------------- Button ------------>*/

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

     /*<------------- Changing text ------------>*/

     .changingwords {
        vertical-align:top;
        overflow:hidden;
        height:150px;
        margin-top: 4em;
        position:relative;
        display: inline-block;
          width: 100%;
      }

.changingwords strong > b {
    font-size: 5rem;
    color: #e0a330;
    margin: 0 auto;
}

.hidden{
  position:absolute;
  top: 20px;
  display:inline-block;
    opacity:0;
  animation: slideme 12s infinite;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}

.hidden:nth-child(3){
  animation-delay: 3s;
}
.hidden:nth-child(5){
  animation-delay: 6s;
}
.hidden:nth-child(7){
  animation-delay: 9s;
}

@keyframes slideme {
  0% {
    top: 20px;
    opacity:0;
  }
  5% {
    top: 0px;
    opacity:1;
  }
  10%{
    top : 0;
    opacity:1;
  }
  20%{
    opacity:1;
  }
  25% {    
  opacity:0.1;
    top : 0;
  }
  30% {
    opacity:0;
    top: 20px;
  }
}